/*
/*/

!.gitignore

# this is weird, but doesn't work without it => TO FIX!
!/*
/*/*

!/*/[Aa]ssets/
!/*/[Pp]ackages/
!/*/[Pp]rojectSettings/

/*/[Aa]ssets/[Ss]tate[Ee]ngine/
/*/[Aa]ssets/[Ss]tate[Ee]ngine.meta

# keep this? (or specify only generated json files?)
/*/[Aa]ssets/[Ss]treaming[Aa]ssets/

# ignore files generated in "StreamingAssets"?
